<!--Header de la app -->

<ion-header>
  <ion-toolbar class="toolbar-custom">
    <ion-title class="title-custom">
      Abulapp
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--Fin de la header-->
<ion-content padding>
  <img src="../../../../assets/img/whatsapp-logo.png" alt="WhatsApp Logo" class="whatsapp-logo" />
  <h2>¿Qué es WhatsApp?</h2>
  <p>
    WhatsApp es una aplicación para teléfonos móviles que te permite enviar mensajes de texto,
    hacer llamadas y enviar fotos y videos de manera gratuita. Es una forma fácil y rápida de
    mantenerte en contacto con amigos y familiares, sin importar en qué parte del mundo estén.
    Para usar WhatsApp, solo necesitas una conexión a Internet y un teléfono inteligente.
  </p>
  <h3>Funciones principales de WhatsApp:</h3>
  <ul>
    <li><strong>Mensajes de Texto:</strong> Puedes escribir y enviar mensajes de texto a tus contactos.</li>
    <li><strong>Llamadas de Voz y Video:</strong> Puedes hacer llamadas de voz y video para hablar directamente con tus amigos o familiares.</li>
    <li><strong>Enviar Archivos:</strong> Puedes enviar fotos, videos, documentos y otros archivos.</li>
    <li><strong>Chats Grupales:</strong> Puedes crear grupos para chatear con varias personas al mismo tiempo.</li>
  </ul>
          <!-- Botón Flotante para Volver al Home -->
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button color="danger" routerLink="/whatsapp-guide">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-content>
