<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Principal</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contenedor centrado para el mensaje y los botones -->
<ion-content [fullscreen]="true">
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
    <h2 style="text-align: center;">Bienvenido, ¿Qué deseas hacer hoy?</h2>

    <!-- Botón para marcar asistencia que navega a la página de FechaAsistencia -->
    <ion-button
      expand="block"
      color="primary"
      shape="round"
      size="large"
      style="--border-radius: 12px; --padding-start: 16px; --padding-end: 16px; margin-top: 20px;"
      (click)="goToFechaAsistenciaPage()"> <!-- Llama al método para navegar a la página de FechaAsistencia -->
      <ion-icon slot="start" name="qr-code-outline"></ion-icon>
      Marcar asistencia
    </ion-button>


  </div>
</ion-content>
