<!--Header de la app -->
<ion-header>
  <ion-toolbar class="toolbar-custom">
    <ion-title class="title-custom">
      Abulapp
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--Fin de la header-->


<ion-content padding>
  <h2>¿Cómo instalar WhatsApp en tu teléfono?</h2>
  
  <p>Para instalar WhatsApp en tu teléfono, sigue estos pasos:</p>
  
  <div class="step">
    <p><strong>1. Abre la tienda de aplicaciones en tu teléfono:</strong></p>
    <p>Para teléfonos Android, abre la <strong>Google Play Store</strong>.</p>
    <img src="assets/img/Google-Play-Store-2021-0.jpg" alt="Google Play Store" class="step-image" />
    <p>Para teléfonos Iphone, abre la <strong>App Store</strong>.</p>
    <img src="assets/img/ios_app.png" alt="Google Play Store" class="step-image" />
  </div>

  <div class="step">
    <p><strong>2. Busca "WhatsApp":</strong></p>
    <p>Utiliza la barra de búsqueda en la tienda de aplicaciones para encontrar <strong>WhatsApp</strong>.</p>
    <img src="assets/img/buscar.jpg" alt="Instalar" class="step-image" />
  </div>

  <div class="step">
    <p><strong>3. Toca el botón de "Instalar" o "Obtener":</strong></p>
    <p>Inicia la descarga y espera a que se instale la aplicación.</p>
    <img src="assets/img/instalar.jpg" alt="App Store" class="step-image" />
  </div>

  <div class="step">
    <p><strong>4. Abre la aplicación:</strong></p>
    <p>Una vez descargada, abre WhatsApp tocando su ícono en la pantalla de inicio.</p>
  </div>
   <!-- Botón Flotante para Volver al atras -->
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" routerLink="/whatsapp-guide">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
