.qr-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    height: 100%; /* Asegura que el contenedor ocupe toda la altura del contenido */
  }
  
  .qr-code {
    margin: 20px 0; /* Espaciado alrededor del código QR */
    display: flex;
    justify-content: center; /* Centra el código QR horizontalmente */
    align-items: center; /* Centra el código QR verticalmente */
  }
  
  .qr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Para centrar verticalmente */
  }
  
  .qr-square {
    background-color: blue; /* Color de fondo azul */
    padding: 10px; /* Espacio alrededor del QR */
    border-radius: 10px; /* Esquinas redondeadas, opcional */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .generate-container,
.scan-container {
  text-align: center;
  margin-top: 20px;
}

.section-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.qr-input {
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.generate-button {
  --border-radius: 12px;
}

.qr-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff; /* Color azul */
  padding: 20px;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  