<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Escanear Código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-icon name="qr-code-outline" class="qr-icon"></ion-icon>
    <h2 class="title">Apunta al código QR para escanearlo</h2>
    <p class="description">Presiona el botón de abajo para iniciar el escaneo</p>
    <ion-button expand="block" color="tertiary" shape="round" size="large" (click)="startScan()">
      <ion-icon slot="start" name="camera-outline"></ion-icon>
      Escanear Código QR
    </ion-button>
  </div>
</ion-content>
