.title{
    color: var(--ion-color-secondary);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
    text-align: center;
  }
  
  .accordion-header {
    --padding-start: 20px;
    cursor: pointer;
    border-bottom: 1px solid #ddd; /* Línea divisoria entre las asignaturas */
  }
  
  .asignatura-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff; /* Color azul para el título de la asignatura */
  }
  
  .registro-list {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .registro-label {
    display: flex;
    justify-content: space-between; /* Espaciado entre el texto y el badge */
  }
  
  .registro-fecha {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 5px; /* Espaciado entre fecha y estado */
  }
  
  .registro-estado {
    font-size: 0.9rem;
    color: #666; /* Color gris para el estado */
  }
  
  .estado-badge {
    font-size: 0.8rem;
  }
  