.login-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.login-logo {
  width: 150px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.input-item {
  margin-bottom: 15px;
}

.login-button {
  margin-top: 20px;
  --border-radius: 8px;
  --padding-start: 16px;
  --padding-end: 16px;
}

.forgot-password {
  margin-top: 20px;
  font-size: 14px;
}

.forgot-password a {
  color: var(--ion-color-primary);
  font-weight: 500;
  text-decoration: none;
}

ion-content {
  background-color: #f4f5f8;
}

.logo-container {
  background-color: #777777; /* Cambia este color según el fondo que prefieras */
  padding: 10px;
  border-radius: 12px; /* Para darle bordes redondeados */
  display: inline-block;
}

.login-logo {
  width: 150px;
  height: auto;
}
