<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Encabezado de Imagen, opcional -->
  <div class="login-header">
    <div class="logo-container">
      <img src="assets/registrap.png" alt="RegistrAPP Logo" class="login-logo">
    </div>
  </div>


  <!-- Contenedor de Formulario de Inicio de Sesión -->
  <div class="login-form">
    <h2 class="ion-text-center">Inicia Sesión</h2>
    <p class="ion-text-center">Ingresa con tu cuenta de alumno</p>

    <!-- Entrada de Correo Electrónico -->
    <ion-item class="input-item">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <!-- Entrada de Contraseña -->
    <ion-item class="input-item">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <!-- Botón de Iniciar Sesión -->
    <ion-button expand="block" color="primary" class="login-button" (click)="login()">
      Iniciar Sesión
    </ion-button>

    <!-- Enlace para restablecer contraseña -->
    <p class="ion-text-center forgot-password">
      ¿Olvidaste tu contraseña? <a (click)="resetPassword()">Reestablecer aquí</a>
    </p>
  </div>
</ion-content>
