<ion-header>
  <ion-toolbar class="toolbar" color="tertiary">
    <ion-buttons slot="start"></ion-buttons>
    <ion-title class="ion-text-capitalize ion-text-center" mode="md">
      <span class="duoc-text">Duoc</span><span class="uc-text">UC</span>
    </ion-title>

      <ion-menu contentId="main-content">
        <ion-header>
          <ion-toolbar>
            <ion-title>Menu Content</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">This is the menu content.</ion-content>
      </ion-menu>
  </ion-toolbar>
</ion-header>
