.duoc-text {
    font-size: 34px;
    color: var(--ion-color-primary); 
    font-weight: bold; 
  }
  
  .uc-text {
    font-size: 34px; 
    color: var(--ion-color-secondary); 
    font-weight: bold; 
  }

  .tool-bar{
    height: 80px !important; 
    --background: var(--ion-color-tertiary); 
    display: flex;
    align-items: center; 
  }
  
  