<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      <div class="title-container">
        <span class="duoc">RegistrApp</span>

      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="outer-container">
    <div class="form-container">
      <ion-card>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <!-- Vinculamos el email con la propiedad 'email' -->
              <ion-input labelPlacement="floating" [(ngModel)]="email">
                <div slot="label">Email <ion-text color="danger">(Required)</ion-text></div>
              </ion-input>
            </ion-item>
            <ion-item>
              <!-- Vinculamos la contraseña con la propiedad 'password' -->
              <ion-input type="password" label="Password" [(ngModel)]="password">
                <ion-input-password-toggle slot="end"></ion-input-password-toggle>
              </ion-input>
            </ion-item>
          </ion-list>

          <!-- Botón Aceptar que ejecuta el método onSubmit -->
          <ion-button class="custom-button accept-button" expand="full" (click)="onSubmit()">Aceptar</ion-button>

          <!-- Botón para restablecer contraseña -->
          <ion-button class="custom-button reset-button" expand="full" fill="clear" (click)="onResetPassword()">Restablecer contraseña</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
