<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      <div class="title-container">
        <span class="duoc">RegistrApp</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="outer-container">
    <div class="form-container">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="card-title">Iniciar Sesión</ion-card-title>
          <ion-card-subtitle class="card-subtitle">Por favor, ingresa tus credenciales</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-input labelPlacement="floating" [(ngModel)]="email" required>
                <div slot="label">Email <ion-text color="danger">(Requerido)</ion-text></div>
              </ion-input>
            </ion-item>
            <!-- Mueve el item de la contraseña fuera del item del correo -->
            <ion-item>
              <ion-input type="password" label="Contraseña" [(ngModel)]="password" required>
                <div slot="label">Contraseña <ion-text color="danger">(Requerido)</ion-text></div>
                <ion-input-password-toggle slot="end"></ion-input-password-toggle>
              </ion-input>
            </ion-item>
          </ion-list>

          <div class="button-container">
            <!-- Botón Aceptar que ejecuta el método onSubmit -->
            <ion-button class="custom-button accept-button" expand="full" (click)="onSubmit()">Aceptar</ion-button>

            <!-- Botón para restablecer contraseña -->
            <ion-button class="custom-button reset-button" expand="full" fill="clear" (click)="onResetPassword()">Restablecer contraseña</ion-button>

            <!-- Nuevo botón para agregar un nuevo usuario -->
            <ion-button class="custom-button add-user-button" expand="full" (click)="agregarNuevoUsuario()">Agregar nuevo usuario</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
