<!--Header de la app -->

<ion-header>
  <ion-toolbar class="toolbar-custom">
    <ion-title class="title-custom">
      Abulapp
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--Fin de la header-->

<!--Ubicación de las Cards -->
<ion-content>
  <h1></h1>
  <div class="card-container">
    <ion-card color="secondary" routerLink="/whatsapp-guide/que">
      <ion-card-header>
        <ion-icon name="logo-whatsapp" style="font-size: 40px;"></ion-icon>
        <ion-card-title>¿Que es WhatSapp?</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content></ion-card-content>
    </ion-card>

    <ion-card color="secondary" routerLink="/whatsapp-guide/install">
      <ion-card-header>
        <ion-icon name="logo-whatsapp" style="font-size: 40px;"></ion-icon>
        <ion-card-title> ¿Como Instalo WhatSapp?</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content></ion-card-content>
    </ion-card>

    <ion-card color="secondary" routerLink="/whatsapp-guide/config">
      <ion-card-header>
        <ion-icon name="logo-whatsapp" style="font-size: 40px;"></ion-icon>
        <ion-card-title>Configurar WhatSapp</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content></ion-card-content>
    </ion-card>

    <ion-card color="secondary" routerLink="/whatsapp-guide/msg">
      <ion-card-header>
        <ion-icon name="logo-whatsapp" style="font-size: 40px;"></ion-icon>
        <ion-card-title>Enviar Mensajes</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content></ion-card-content>
    </ion-card>

    <ion-card color="secondary" routerLink="/whatsapp-guide/calls">
      <ion-card-header>
        <ion-icon name="logo-whatsapp" style="font-size: 40px;"></ion-icon>
        <ion-card-title>Hacer Llamadas</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content></ion-card-content>
    </ion-card>

    <ion-card color="secondary" routerLink="/whatsapp-guide/fotos-videos">
      <ion-card-header>
        <ion-icon name="logo-whatsapp" style="font-size: 40px;"></ion-icon>
        <ion-card-title>Enviar Fotos y videos</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content></ion-card-content>
    </ion-card>

    <ion-card color="secondary" routerLink="/whatsapp-guide/grupos">
      <ion-card-header>
        <ion-icon name="logo-whatsapp" style="font-size: 40px;"></ion-icon>
        <ion-card-title>Crea y Participa en Grupos</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content></ion-card-content>
    </ion-card>
  </div>
        <!-- Botón Flotante para Volver al Home -->
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button color="danger" routerLink="/home">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-content>
      
    <!-- Tu contenido existente aquí -->
    

<!--FIN DE LAS TARJETAS-->
  

