<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
    <ion-title>Seleccionar Fecha de Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
    <h2 style="text-align: center;">Selecciona la fecha para marcar la asistencia</h2>

    <!-- Selector de sección -->
    <ion-item>
      <ion-label>Sección:</ion-label>
      <ion-select placeholder="Selecciona una sección" (ionChange)="onSectionSelected($event)">
        <ion-select-option value="PGY4121">PGY4121</ion-select-option>
        <ion-select-option value="PGY3121">PGY3121</ion-select-option>
        <ion-select-option value="PGY2121">PGY2121</ion-select-option>
        <ion-select-option value="PGY1121">PGY1121</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-datetime
      presentation="date"
      (ionChange)="onDateSelected($event)"
      placeholder="Selecciona una fecha">
    </ion-datetime>

    <ion-button
      expand="block"
      color="primary"
      shape="round"
      size="large"
      style="--border-radius: 12px; --padding-start: 16px; --padding-end: 16px; margin-top: 20px;"
      (click)="confirmarAsistencia()">
      Confirmar Asistencia
    </ion-button>
  </div>
</ion-content>
